body {
    padding: 0;
    margin: 0;
    font-family: "poppins", sans-serif;
    background-color: #0E1014;
    color: #FFFFFF;
    font-size: 2rem;
}

#cabecalho img {
    padding: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    color: #9747FF;
}

.btn {
    text-decoration: none;
    background-color: #9747FF;
    color: #FFFFFF;
    padding: 1rem;
    border-radius: 40px;
}